li{

list-style-type: none;
padding: 9px 13px;
text-align: center;
background-color: rgba(77, 151, 151, 0.719);
}
body {
    text-align: center;
    background-color: aqua;
}
.btn {
    background-color : rgb(43, 43, 226);
    cursor: pointer;
}
btn:hover{
    background-color: rgb(174, 16, 16);

}

